.home{
    padding: $small-pad;
}

.find-button,.find-status{
    font-size:1.5rem;
    text-align: center;
    max-width: 500px;
    margin: auto;
    background-color:$stats-blue;
    color: white;
    padding:$small-pad;
    border-radius: 5px;
    margin-top:10vh;
}

.find-button{
    cursor: pointer;
}

.find-button:hover{
    opacity: 0.9;
}

.matched-counter{
    text-align: center;
    font-size:$font-large
}

.word-box{
    max-width: 1100px;
    word-wrap: break-word;
    margin: auto;
    margin-top:10vh;
    font-size:1.5rem;
}

.inline-p{
    display: inline;
}

.active-p{
    color:$header-blue;
}