.home{
    padding: $small-pad;
}

.find-button,.find-status{
    font-size:1.5rem;
    text-align: center;
    max-width: 500px;
    margin: auto;
    background-color:$stats-blue;
    color: white;
    padding:$small-pad;
    border-radius: 5px;
    margin-top:10vh;
}

.find-button{
    cursor: pointer;
}

.find-button:hover{
    opacity: 0.9;
}

.matched-counter{
    text-align: center;
    font-size:$font-large
}

.win-text,.lose-text{
    font-size: $font-large;
    text-align: center;
    max-width: 1100px;
    margin: auto;
}

.win-text{
    color:green;
}

.lose-text{
    color:red;
}

.warning{
    font-size: 1.5rem;
    margin-top: 3vh;
    display: none;
}

