.input-container{
    max-width: 300px;
    margin: auto;
    margin-top: $medium-mar;
}

.input-text{
    padding: 0.25rem $small-pad;
    width: 100%;
    border-radius: 5px;
    border: 1px solid $border-grey;
}

.input-text:focus{
    outline: none;
    border: 1px solid $header-blue;
}