.seconds{
    padding:$small-pad;
}

.seconds-value{
    font-family: 'Inconsolata', monospace;
    font-size: 5rem;
    font-weight: lighter;
    text-align: center;
}

.seconds-text{
    text-align: center;
}