.wpm,.seconds,.accuracy{
    padding:$small-pad;
}

.wpm-value,.seconds-value,.accuracy-value{
    font-family: 'Inconsolata', monospace;
    font-size: 5rem;
    font-weight: lighter;
    text-align: center;
}

.wpm-text,.seconds-text,.accuracy-text{
    text-align: center;
}