.textbox{
    background-color: white;
    padding:$medium-pad;
    overflow-wrap: unset;
    white-space: nowrap;
    overflow-x: hidden;
}

.text{
    transform: translate(50%);
}

.text-element:nth-child(1){
    color:$header-blue
}