.word-box{
    max-width: 1100px;
    word-wrap: break-word;
    margin: auto;
    margin-top:10vh;
    font-size:1.5rem;
}

.inline-p{
    display: inline;
}

.active-p{
    color:$header-blue;
}

@media (max-width:500px){
    .inactive-p{
        display: none;
    }
}