//padding

$xsmall-pad:0.5rem;
$small-pad:1rem;
$medium-pad:1.5rem;


//color
$header-blue:#9cd4f4;
$background-grey:#f5f6f7;
$border-grey:#dfe1e6;

//margin
$small-mar:1rem;
$medium-mar:1.5rem;

//font:
$font-large:3rem;
$font-medium:2rem;